/* General layout */
body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
}

/* Cards */
.card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

/* Buttons */
.btn {
  border-radius: 8px;
}

/* Alerts */
.alert {
  border-radius: 10px;
}

/* Profile Picture */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6c757d;
  /* align-items: center;
   */
   margin-left: 550px;
}
